# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
.mypy_cache/
.pytest_cache/
.cache/

# Envs
.env
.env.*
.venv/
venv/

# Editors
.vscode/
.idea/

# Logs & temp
*.log
logs/
tmp/
*.sqlite*

# Systemd / machine secrets (DO NOT COMMIT)
etc/
# absolute path hint (non-functional but reminder)
#/etc/kari/

# Databases
*.db
